[Unit]
Description=isuumo.go

[Service]
EnvironmentFile=/home/isucon/env.sh
WorkingDirectory=/home/isucon/isuumo/webapp/go
PIDFile=${WorkingDirectory}/server.pid

User=isucon
Group=isucon
ExecStart=/home/isucon/isuumo/webapp/go/isuumo
ExecStop=/bin/kill -s QUIT ${MAINPID}

Restart   = always
Type      = simple

StandardOutput=/home/isucon/isuumo/webapp/go/log/app.out
StandardError=/home/isucon/isuumo/webapp/go/log/app.err

[Install]
WantedBy=multi-user.target
